body{
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 0px;
}
h2{
    color: #D5D4D8;
    font-size: 20px;
}
h3{
  font-size: 20px;
  font-weight: 600px;
}

.container{
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;
    width: 550px;
    height: 550px;
    background: #1F2937;

}
.title{
    border-bottom: 1px solid #2F3E53;
    margin-bottom: 20px;

}
.color-title{
    color: #10B981;
}
.btn-render{
    box-shadow: 0px 1px 2px 0px #0000000D;
    padding: 10px 15px;
    border-radius: 6px;
    background: #10B981;
    color: white;
    margin: 20px 0px;
    border: none;

}
.input-fiel{
    color: #10B981;
    display: flex;
    align-items: center;
    gap: 10px;
}
#password-length{
  width: 50px;
  text-align: center;

}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

.renders{
    display: flex;
    justify-content: space-between;
}
.render{
    width: 210px;
    height: 37px;
    background: #273549;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.darkMode{
    display: flex;
    align-items: center;
    gap: 10px;
}
.control{
    display: flex;
    justify-content: space-between;
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #10B981;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #10B981;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
  }

  @media(max-width: 768px){
    body{
      display: block;
    }
    .container{
      width: 100%;
      padding: 0px;
      height: 100vh;
    }
    .input-fiel{
      display: grid;
      grid-template-columns: 100px 100px;
      padding: 20px;
    }
    .control{
      padding: 20px;
    }
    .title{
      padding: 0 20px;
      margin-bottom: 0;
      border-bottom: none;
    }
    .renders{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }
  @media(max-width:1024px){
    body{
      height: 100vh;
    }
    h1{
      font-size: 60px;
      line-height: 1;
    }
  
    .container{
      width: 100%;
      height: 100%;
    }
  }